# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBcN1r5zwzX2lDX9PajoHcdLK6Nl9vgtUg
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=vettlymatch.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=vettlymatch
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=vettlymatch.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=946180653225
NEXT_PUBLIC_FIREBASE_APP_ID=1:946180653225:web:bd33e5f7fe3dac1fdea9b8
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-F1T1EJBBCL

# OpenAI Configuration
# OPENAI_API_KEY=your-openai-api-key

# Deepgram Configuration
# DEEPGRAM_API_KEY=your-deepgram-api-key
